@use './_variables.scss' as vars;
@use './_mixins.scss' as mix;

.u-container { @include mix.container(); }
.u-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.u-sr-only {
  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px;
  overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;
}
.u-muted { color: vars.$wink-border; }
.u-divider {
  height: 1px;
  background: vars.$wink-border;
  margin: vars.$sp-16 0;
}
